.aiprompt{
    background-color: orange;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    &__infolink{
        display: flex;
        background-color: white;
        margin-left: 0.2rem;
        width: 90%;
        height: 1rem;
        border-radius: 0.2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: small;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        background-color: lightgreen;
        border-radius: 2rem;
        width: 90%;
        height: 1.6rem;
        margin-bottom: 0.3rem;
        padding-left: 1rem;
        font-size: small;
    }
}