.convo{
    background-color: white ;
    height:23rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

&__today{
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
}

    &__text{
        padding: 0 1rem;
        margin: 0.8rem;
        height: 2.5rem;
        background-color:#D9E2F8 ;
        border-radius: 1.3rem;
        display: flex;
        align-items: center;
        font-size: small;
    }
}

.left{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.right{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}