.header{
    background-color: #F2F0F4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__username{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        width: 9rem;
        height: 3.5rem;
        justify-content: space-between;
        align-items: center;
    }
    &__backIcon{
        width: 0.7rem;
        height: 0.7rem;
        // background-color: black;
    }
    &__actions{
        display: flex;
        flex-wrap: wrap;
        width: 4.5rem;
        justify-content: space-between;
        align-items: center;
    }

}

.username__text{
    color: black;         
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}