.header{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__username{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: white;
        width: 7.5rem;
        height: 3.5rem;
        justify-content: space-between;
        align-items: center;
    }
    &__pholder{
        width: 0.7rem;
        height: 0.7rem;
        background-color: black;
    }
    &__actions{
        display: flex;
        flex-wrap: wrap;
        width: 4.5rem;
        justify-content: space-between;
        align-items: center;
    }

}
