.textfield{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        background-color: lawngreen;
        border-radius: 2rem;
        width: 70%;
        height: 2rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        padding-left: 1rem;
        margin-right: 0.5rem;
    }
    &__submit{
        width: 10%;
        height: 7rem;
    }
}