@use "../../styles/mixins.scss" as *;


.main{
    padding: 1rem;
    background-color: #303236;
    @include flex-box(column);

    &__header{
        background-color: #131313;
        @include flex-box(row);
        padding: 1rem;

        &-text{
            font-size: 22px;
            line-height: 28px;
            font-weight: 400;
            color: #E6E0E9;
        }

        &-backIcon{
            width: 1rem;
            margin-right: 1rem;
        }
    }


    &__greeting{
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 1rem;
        width: 100%;
        border: 1px solid black;
        background-color: #131313;
        color: white;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.5;
    }
  

    &__midText{
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #FFFFFF;
    }

    &__buttons{
        @include flex-box(column);
        padding-bottom: 1rem;

        &-button{
            border: 0px;
            text-align: left;
            color: #A8C7FA;
            background-color: #131313;
            border-radius: 15px;
            margin: 1rem 0;
            padding: 1rem;
        }
    }

    &__search{
        width: 100%;
        @include flex-box(row);
        justify-content: space-between;

        &-input{
            border: 1px solid white;
            background-color: #131313;
            margin: 0 1rem;
            padding: 0 1rem;
            border-radius: 2rem;
            width: 100%;
            height: 3rem;
        }
        &-input::placeholder{

            font-size: 1rem;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.5px;
            text-align: left;

            color:#BEBEBE ;
        }
     
    }
}